body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--secondary);
  font-family: Georgia, serif;
}

:root {
  --main: #0b3e76;
  --secondary: #194473;
}
.translator-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(253, 253, 253);
  border-radius: 7px;
  padding: 30px;
}
.header {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  height: 130px;
  text-align: center;
  color: white;
  background: var(--main);
  margin-bottom: 5px;
  margin-top: 5px;
}
.header h1 {
  padding: 1px;
}
.header p {
  font-size: 15px;
}

.wrapper {
  border: 1px solid rgb(168, 163, 163);
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
}
.wrapper .text-input {
  display: flex;
}

.text-input textarea {
  height: 200px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 10px 15px;
  background: none;
  resize: none;
}

.text-input .to-text {
  border-left: 1px solid rgb(168, 163, 163);
}

.input-output-container {
  display: flex;
  gap: 10%;
  border-radius: 100px;
}

.input-select,
.output-select {
  padding: 14px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  background: var(--main);
  margin-bottom: 10px;
  margin-top: 10px;
  /* box-shadow: 3px 3px #ccc; */
}

.input-select,
.output-select {
  width: 50%;
  border: none;
}

.button {
  font-size: 16px;
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  background: var(--main);
  /* box-shadow: 3px 3px #ccc; */
}

.button:hover {
  background: rgb(32, 57, 165);
}
